<% provide(:title, "View User") %>
<p id="notice"><%= notice %></p>

<%= image_tag @user.photo.url(:small) %>

<p>
	<b>Email:</b>
	<%= @user.email %>
</p>

<% if signed_in? && current_user?(@user) %>
	<%= link_to 'Edit Profile', edit_user_path(@user) %>
<% end %>
