<!-- Users are ActiveRecord objects, and therefore keep track of errors
This template renders the errors associated with a user -->
<% if @user.errors.any? %>
<div id="error_explanation">
	<div class="alert alert-error">
		<h3><%= pluralize(@user.errors.count, "error") %>:</h3>
		<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
</div>
<% end %>