@import "bootstrap";

/* Universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* Header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;

	&:hover, &:active, &:focus {
		color: #fff;
		text-decoration: none;
	}
}

/* Miscellaneous */

.debug_dump {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 45px;
}

/* Forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
}

input {
	height: auto;
}

.checkbox-text {
	vertical-align: middle;
}

#error_explanation {
	color: #f00;
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

/* Edit profile page */

textarea, input[type="file"] {
	background-color: white;
	border: 1px solid rgb(204, 204, 204);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	margin: 0;
}

#profile_picture {
	margin-bottom: 0.5em;
}

#user_delete_photo {
	margin: 0;
	margin-right: 0.5em;
}

/* List of users */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child {
			border-bottom: 1px solid $grayLighter;
		}
	}
}